/* styles.css */
@font-face {
  font-family: 'PapyrusCustom';
  src: url('fonts/papyrus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'PapyrusCustom', Papyrus, sans-serif;
}


body {
      background: #9b95a8;
      text-align: center;
    }
    h1, h2, h3 {
      margin: 10px;
    }
    img {
      margin: 10px;
      border-radius: 8px;
    }
